<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/devops.css">
    <style>
        
    </style>
</head>
<body>
    <div class = "navbar">
        <ul class= "navbarul">
            <a href="/gallery"><li class="home">HOME</li></a>
            <a href="#exit"><li class="contact">CONTACT US</li></a>
            <a href="/"><li class="login">LOGIN</li></a>
            <a href="/gallery"><img  class= "logo" src="static/images/logo.png" alt="hlajfkla"></a>
        </ul>
    </div>
 

    <div>
        <h1 style="color: white; font-size:50px;text-align:center;margin-top:3%">
            DevOps Bootcamp
        </h1>
        <div>
            <hr style="width: 40%;">
        </div>
    </div>

    <div>
        <img style="width:40%;margin-left:4%;margin-top:3%"  src="static/images/devops1.jpeg" alt="devops">
        <div style="margin-left:60% ;margin-top:-25%;font-size: 25px;">
            <h2 style="color:white ;">Learn in-demand skills!</h2>
            <p style="color:white;margin-left:-30%">Without a doubt, DevOps engineer is the most in-demand role in the current market, especially with an increased number of high paying remote opportunities.If the operations and development teams are in different silos then obviously it will be a hard task to identify whether the application is ready for operation or not.</p>
            <h2 style="color:white ;margin-left:10%">Cost, $0/Month</h2>
           <a href="/price"> <button style="width:200px;height:50px;font-size:20px;margin-left:15%;background-color:rgb(84, 84, 212);">Start Learning Now!</button></a>
        </div>
        <div>
            <h2 style="color:white;font-size: 30px;margin-left: 6.5%;">Share about this course with your friends!</h2>
        </div>
    </div>

    <div style="text-align:center;margin-top:5%">
        <h1 style="color:white;font-size:50px ;">SYLLABUS</h1>
        <div>
            <hr style="width:14%;background-color: blue ; margin-top: -1.5%;">
        </div>
        <div>
            <p style="color:white;font-size:25px;">Learn by doing with a hands-on and project-based approach.</p>
        </div>
        
    </div>

    <div style="margin-left: 5%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold;">✔ Introduction to networking</h2>
        <p style="color:#cefff6;font-size: 20px;">Networking fundamentals, OSI layer protocols, port forwarding, how the internet works, command line tools, and more.</p>
    </div>
    <div style="margin-left: 5%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ Command line tools</h2>
        <p style="color:#cefff6;font-size: 20px;">Various command line tools, bash scripting, regex, introduction to git, and more.</p>
    </div>
    <div style="margin-left: 5%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ Kubernetes</h2>
        <p style="color:#cefff6;font-size: 20px;">Introduction, architecture, set-up, objects, networking, storage, HA, monitoring, logging, production-ready applications.</p>
    </div>
    <div style="margin-left: 5%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ Servers</h2>
        <p style="color:#cefff6;font-size: 20px;">Introduction to web-servers, Nginx, and more.</p>
    </div>
    <div style="margin-left: 5%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ Infrastructure as code</h2>
        <p style="color:#cefff6;font-size: 20px;">Infrastructure provisioning, Terraform, Pulumi, configuration management, and more. </p>
    </div>
    <div style="margin-left: 5%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ Service mesh</h2>
        <p style="color:#cefff6;font-size: 20px;">Istio, Envoy, Linkerd, and more.</p>
    </div>
    <div style="margin-left: 5%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ Chaos engineering</h2>
        <p style="color:#cefff6;font-size: 20px;">The next step in testing.</p>
    </div>
    <div style="margin-left: 5%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ Working with cloud providers</h2>
        <p style="color:#cefff6;font-size: 20px;">Learn about cloud providers, design patterns, and more.        </p>
    </div>



    <div style="margin-left: 65%;margin-top: 4%; width:30%;margin-top: -93%;">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ Introduction to Linux</h2>
        <p style="color:#cefff6;font-size: 20px;">Learn about the essentials of working with Linux, including some important commands.</p>
    </div>
    <div style="margin-left: 65%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ Docker</h2>
        <p style="color:#cefff6;font-size: 20px;">Introduction to containers, hands-on demos, concepts, architecture, images, networking, best practices, development profiles, Docker Compose, Docker Swarm.</p>
    </div>
    <div style="margin-left: 65%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ GoLang</h2>
        <p style="color:#cefff6;font-size: 20px;">Complete GoLang tutorial.        </p>
    </div>
    <div style="margin-left: 65%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ CI/CD</h2>
        <p style="color:#cefff6;font-size: 20px;">Setting up a CI/CD pipeline, GitHub Actions, Circle CI, and more.</p>
    </div>
    <div style="margin-left: 65%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ Monitoring and logging</h2>
        <p style="color:#cefff6;font-size: 20px;">Monitoring tools and practices, Prometheus, Thanos, Grafana, Jaeger, New Relic, and more. </p>
    </div>
    <div style="margin-left: 65%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ GitOps</h2>
        <p style="color:#cefff6;font-size: 20px;">Manage infrastructure and application configurations using Git.</p>
    </div>
    <div style="margin-left: 65%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ Testing</h2>
        <p style="color:#cefff6;font-size: 20px;">Create robust applications with application testing.

        </p>
    </div>
    <div style="margin-left: 65%;margin-top: 4%; width:30%">
        <h2 style="color:#00f7ff;font-size:30px;font-style:bold">✔ Cloud native tools deep dive</h2>
        <p style="color:#cefff6;font-size: 20px;">Navigating the Cloud Native tools landscape with a hands-on deep dive to get you started with the use-cases and contributor journey of various projects.</p>
    </div>
    <br>
    <br>
    <hr>

    <div style="">
        <img style="width:20%;margin-left: 4%;margin-top: 4%;"src="static/images/code.png" alt="laptop">
        <img style="width:20%;margin-left: 4%;margin-top: 4%;"src="static/images/cloud.png" alt="cloud">
        <img style="width:20%;margin-left: 4%;margin-top: 4%;"src="static/images/shout.png" alt="laptop">
        <img style="width:20%;margin-left: 4%;margin-top: 4%;"src="static/images/play.png" alt="laptop">
        
    </div>
    <div >
            <a  href="https://github.com/kubernetes/kubernetes"><button class="codeButton" style="margin-left:4%;width:20%;background-color: rgb(84, 84, 212);"><h2>CODE</h2></button></a>
            
            <button class="codeButton" style="display:inline-block ;margin-left: 4%;width:20%;background-color: rgb(84, 84, 212);display:inline-block ;"><h2>CLOUD NATIVE TOOLS</h2></button>
       
            <button class="codeButton" style="margin-left: 4%;width:20%;background-color: rgb(84, 84, 212);display:inline-block ;"><h2>SHOUTOUTS</h2></button>
        
            <button class="codeButton" style="margin-left: 4%;width:20%;background-color: rgb(84, 84, 212);display:inline-block ;"><h2>PLAYLIST</h2></button>
    </div>

    <!-- Beggining of features -->

    <div class="mission">
        <h1 class="features">FEATURES</h1>
        <div style="width: 20%; margin-left: auto;margin-right: auto; border: 2px solid blue;">
        </div>
        <div>
            <h3 style="text-align:center; margin-top:50px;font-size: 30px;">What makes our courses special ?</h3>
        </div>


        <div>
            <img style="border-radius:3200px ; height:70px; margin-left: 13%; margin-top: 50px;"  src="static/images/book.jpeg" alt="book">
            <h2 style="margin-left:9% ;">Structured Learning</h2>
            <p style="margin-left: 7%;margin-top: 50px;">Learning made easy. Complete syllabus is</p>
            <p style="margin-left: 7.5%;">covered while never compromising on</p>
            <p style="margin-left: 13.5%;">quality.</p>
        </div>
        <div style="margin-left:32%; margin-top:-320px">
            <img style="border-radius:3200px ; height:70px; margin-left: 21%; margin-top: 50px;"  src="static/images/copy.jpeg" alt="book">
            <h2 style="margin-left:22.5% ;">Notes</h2>
            <p style="margin-left: 13%;margin-top: 50px; ">Get complete notes for all lectures so that</p>
            <p style="margin-left: 13%;">you can focus on learning and practising.</p>
            
        </div>
        <div style="margin-left:1100px; margin-top:-290px">
            <img style="border-radius:3200px ; height:70px; margin-left: 19%; margin-top: 50px;"  src="static/images/que.jpeg" alt="book">
            <h2 style="margin-left: 13%;">Assignments</h2>
            <p style="margin-left: -4%;margin-top: 50px;">Assignments and questions are provided</p>
            <p style="margin-left: 2.5%;">to understand the concepts well.</p>
            
        </div>



        <div style="margin-top:90px ;">
            <img style="border-radius:3200px ; height:70px; margin-left: 13%; margin-top: 50px;"  src="static/images/doubt.png" alt="book">
            <h2 style="margin-left:10.5%;">Doubt Support</h2>
            <p style="margin-left: 6%;margin-top: 50px;">Clear all your doubts through LIVE discord</p>
            <p style="margin-left: 13%;">support.</p>
            
        </div>
        <div style="margin-left:32%; margin-top:-320px">
            <img style="border-radius:3200px ; height:70px; margin-left: 21%; margin-top: 50px;"  src="static/images/edu.jpeg" alt="book">
            <h2 style="margin-left:21% ;">Guidance</h2>
            <p style="margin-left: 13%;margin-top: 50px;">Get expert guidance with career, open</p>
            <p style="margin-left: 13%;">source and internships, jobs around the</p>
            <p style="margin-left: 24%;">world.</p>
            
        </div>
        <div style="margin-left:1100px; margin-top:-290px">
            <img style="border-radius:3200px ; height:70px; margin-left: 19%; margin-top: 50px;"  src="static/images/stick.jpeg" alt="book">
            <h2 style="margin-left:19% ;">Projects</h2>
            <p style="margin-left: -4%;margin-top: 50px;">Learn by doing and apply your knowledge</p>
            <p style="margin-left: -4%;">via projects and open source contributions.</p>
            
        </div>


    </div>

    <footer id="exit">
        <div class="content">
          <div class="left box">
            <div class="upper">
              <div class="topic">About us</div>
              <p>We are here to provide you free education and roadmaps for dfvhajkfhkd dhvfkasjfj dvfafdsjfioaf fadsfjiajsfj </p>
            </div>
            <div class="lower">
              <div class="topic">Contact us</div>
              <div class="phone">
                <a href="#"><i class="fas fa-phone-volume"></i>+007 9089 6767</a>
              </div>
              <div class="email">
                <a href="#"><i class="fas fa-envelope"></i>abc@gmail.com</a>
              </div>
            </div>
          </div>
          <div class="middle box">
            <div class="topic">Our Services</div>
            <div><a href="#">Web Design, Development</a></div>
            <div><a href="#">Web UX Design, Reasearch</a></div>
            <div><a href="#">Web User Interface Design</a></div>
            <div><a href="#">Theme Development, Design</a></div>
            <div><a href="#">Mobile Application Design</a></div>
            <div><a href="#">Wire raming & Prototyping</a></div>
          </div>
          <div class="right box">
            <div class="topic">Subscribe us</div>
            <form action="#">
              <input type="text" placeholder="Enter email address">
              <input type="submit" name="" value="Send">
              <div class="media-icons">
                <img style="margin-left: 100px;" class="imageFb" src="static/images/fbCircle.webp" alt="">
                <img class="imageFb" src="static/images/gmail.png" alt="">
                <img class="imageFb" src="static/images/instaCirle.png" alt="">
                <img class="imageFb" src="static/images/twitter_circle-512.webp" alt="">
              </div>
            </form>
          </div>
        </div>
    </footer>
</body>
</html>